.about {
  padding-block: var(--section-padding);
}

.about-banner {
  position: relative;
  margin-bottom: 40px;
}

.about-banner>img {
  max-width: max-content;
  width: 100%;
}

.about-banner .abs-img {
  position: absolute;
  bottom: 100px;
  left: 15px;
  width: 50%;
  border-radius: 4px;
}

.about .section-subtitle {
  margin-inline: 0;
}

.about .section-title {
  --text-align: left;
  --margin-bottom: 15px;
}

.about-text {
  color: var(--color-cadet);
  font-size: var(--fs-5);
  line-height: 1.7;
  margin-bottom: 30px;
}

.about-list {
  margin-bottom: 30px;
}

.about-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.about-item-icon {
  background: var(--color-accent-lighter);
  height: 45px;
  min-width: 45px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.about-item-icon ion-icon {
  color: var(--color-accent);
  font-size: 18px;
}

.about-item-text {
  color: var(--color-cadet);
  font-size: var(--fs-5);
}

.about .callout {
  background: hsla(7, 78%, 53%, 0.05);
  color: var(--color-cadet);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  line-height: 1.8;
  padding: 20px 25px;
  border-left: 4px solid var(--color-accent);
  margin-bottom: 40px;
}

.about .btn {
  max-width: max-content;
  --text-transform: uppercase;
}

/* === Media Queries === */
@media (min-width: 768px) {

  .about .section-title {
    max-width: 30ch;
  }

  .about-text {
    max-width: 55ch
  }

  .about-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width: 992px) {

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
  }

  .about-banner {
    margin-bottom: 0;
  }

  .about-banner>img {
    width: 100%;
  }

}