/* === Aside === */
.aside-container {
  padding-bottom: 3rem;
}

.aside-title {
  color: var(--color-primary);
  font-size: var(--fs-heading-5);
  font-weight: var(--fw-700);
}

.aside-list-item {
  padding-block: 1rem;
}

.aside-list-item:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}

.aside-list-link {
  color: var(--color-cadet-darker) !important;
  font-size: var(--fs-5);
  font-weight: var(--fw-400) !important;
}

.aside-list-link:is(:focus, :hover) {
  color: var(--color-accent) !important;
}

.aside-card {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 1rem;
  box-shadow: var(--shadow-2);
}

.aside-card h2 {
  font-size: var(--fs-heading-4);
  padding-bottom: 1rem;
  line-height: 1.1;
}

.aside-card p {
  font-size: var(--fs-5);
  padding-bottom: 2rem;
}

.aside-card .btn {
  color: var(--color-white);
  font-weight: var(--fw-400);
  text-transform: none;
  padding: 5px 15px;
}

.aside-card .btn:is(:hover, :focus) {
  color: var(--color-accent);
}