.features {
  background: var(--color-cultured-2);
  padding-block: var(--section-padding);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 20px;
}

.features-list>li {
  width: calc(50% - 10px);
}

.features-card {
  position: relative;
  background: var(--color-white);
  padding: 40px 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: var(--shadow-1);
}

.features-card:is(:hover, :focus) {
  background: var(--color-accent);
}

.features-card .card-icon {
  background: var(--seashell);
  color: var(--color-accent);
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 28px;
}

.features-card .card-icon ion-icon {
  --ionicon-stroke-width: 20px;
}

.features-card .card-title {
  color: var(--color-primary);
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  text-align: center;
  transition: var(--transition);
}

.features-card:is(:hover, :focus) .card-title {
  color: var(--color-white);
}

.features-card .card-btn {
  background: var(--color-white);
  color: var(--color-cadet);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px hsla(219, 56%, 21%, 0.1);
  transition: var(--transition);
}

.features-card:is(:hover, :focus) .card-btn {
  color: var(--color-accent);
}

/* === Media Queries === */
@media (min-width: 768px) {

  .features-list>li {
    width: calc(33.33% - 13.33px);
  }

  .features-card {
    gap: 20px;
  }

  .features-card .card-icon {
    width: 80px;
    height: 80px;
    font-size: 32px;
  }

  .features-card .card-title {
    --fs-6: 1.125rem;
  }

}

@media (min-width: 992px) {
  .features-list {
    column-gap: 30px;
  }

  .features-list>li {
    width: calc(25% - 30px);
  }

}

@media (min-width: 1200px) {

  .features-card .card-icon {
    width: 100px;
    height: 100px;
    font-size: 45px;
  }

  .features-card .card-title {
    --fs-6: 1.375rem;
  }

}