/* === Services === */
.service {
  background: var(--cultured-2);
  padding-block: var(--section-padding);
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.service-card {
  position: relative;
  background: var(--color-white);
  text-align: center;
  padding: 40px 30px;
  box-shadow: var(--shadow-2);
}

.service-card .card-icon {
  width: max-content;
  margin-inline: auto;
  margin-bottom: 20px;
}

.service-card .card-title {
  margin-bottom: 15px;
  color: var(--color-primary);
}

.service-card .card-title>a:is(:hover, :focus) {
  color: var(--color-accent);
}

.service-card .card-text {
  color: var(--color-cadet);
  font-size: var(--fs-5);
  line-height: 1.8;
  margin-bottom: 25px;
}

.service-card .card-link {
  color: var(--color-primary-lighter);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.service-card:is(:hover, :focus) .card-link {
  color: var(--color-accent);
}

.service-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: var(--color-accent);
  transition: var(--transition);
}

.service-card:is(:hover, :focus)::after {
  width: 100%;
}

/* === Media Queries === */
@media (min-width: 600px) {

  .service-list>li {
    width: calc(50% - 15px);
  }

}

@media (min-width: 992px) {

  .service-list>li {
    width: calc(33.33% - 20px);
  }

}