/* CSS VARIABLES */
:root {
  /* Colors */
  --color-primary: hsl(226, 100%, 22%);
  --color-primary-lighter: hsl(226, 100%, 60%);
  --color-accent: hsl(349, 71%, 57%);
  --color-accent-darker: hsl(349, 71%, 47%);
  --color-accent-lighter: hsla(349, 71%, 57%, 0.1);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-dark: hsl(188, 63%, 7%);
  --color-cadet: hsl(200, 15%, 43%);
  --color-cadet-darker: hsl(200, 15%, 33%);
  --color-cultured-1: hsl(0, 0%, 93%);
  --color-cultured-2: hsl(192, 24%, 96%);
  --color-dark-blue: hsl(226, 100%, 8%);
  --color-dark-blue-lighter: hsl(226, 100%, 11%);

  --dark-jungle-green: hsl(188, 63%, 7%);
  --prussian-blue: hsl(200, 69%, 14%);
  --raisin-black-1: hsl(227, 29%, 13%);
  --raisin-black-2: hsl(229, 17%, 19%);
  --yellow-green: hsl(89, 72%, 45%);
  --orange-soda: hsl(9, 100%, 62%);
  --cultured-1: hsl(0, 0%, 93%);
  --cultured-2: hsl(192, 24%, 96%);
  --misty-rose: hsl(7, 56%, 91%);
  --alice-blue: hsl(210, 100%, 97%);
  --seashell: hsl(8, 100%, 97%);
  --cadet: hsl(200, 15%, 43%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --opal: hsl(180, 20%, 62%);

  /* Font Family */
  --ff-nunito-sans: "Nunito Sans", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  /* Font Sizes */
  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.375rem;
  --fs-4: 1.125rem;
  --fs-5: 0.875rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fs-heading-1: 2rem;
  --fs-heading-2: 1.8rem;
  --fs-heading-3: 1.6rem;
  --fs-heading-4: 1.4rem;
  --fs-heading-5: 1.3rem;
  --fs-heading-6: 1.2rem;

  /* Font Weight */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /* Transitions */
  --transition: 0.25s ease;

  /* Custom Padding */
  --section-padding: 100px;

  /* Shadows */
  --shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
  --shadow-2: 0 16px 32px hsla(188, 63%, 7%, 0.1);

  /* Container and Wrappers */
  --container-width: 100%;

}

/* Media Queries */
@media (min-width: 600px) {

  :root {
    --fs-2: 1.875rem;
  }

}

@media (min-width: 768px) {

  :root {
    --fs-1: 2.5rem;
    --fs-5: 0.938rem;
    --fs-6: 0.875rem;
  }

}

@media (min-width: 992px) {

  :root {
    --fs-1: 3.125rem;
    --fs-4: 1.375rem;
  }

}

@media (min-width: 1200px) {

  :root {
    --fs-2: 2.75rem;
    --fs-4: 1.5rem;

    --fs-heading-1: 2.6rem;
    --fs-heading-2: 2.4rem;
    --fs-heading-3: 2rem;
    --fs-heading-4: 1.8rem;
    --fs-heading-5: 1.6rem;
    --fs-heading-6: 1.4rem;
  }

}